<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletPesquisa</servlet-name>
        <servlet-class>controller.ServletPesquisa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutentica</servlet-name>
        <servlet-class>controller.ServletAutentica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscaEspecialidade</servlet-name>
        <servlet-class>controller.ServletBuscaEspecialidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNovoUsuario</servlet-name>
        <servlet-class>controller.ServletNovoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEfetivaCadastro</servlet-name>
        <servlet-class>controller.ServletEfetivaCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPesquisaRetorno</servlet-name>
        <servlet-class>controller.ServletPesquisaRetorno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>controller.ServletPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMarcarConsulta</servlet-name>
        <servlet-class>controller.ServletMarcarConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMarcarConsultaS2</servlet-name>
        <servlet-class>controller.ServletMarcarConsultaS2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMarcarConsultaS3</servlet-name>
        <servlet-class>controller.ServletMarcarConsultaS3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMarcarConsultaS4</servlet-name>
        <servlet-class>controller.ServletMarcarConsultaS4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGerenciarAgenda</servlet-name>
        <servlet-class>controller.ServletGerenciarAgenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCancelaConsulta</servlet-name>
        <servlet-class>controller.ServletCancelaConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHistoricoConsulta</servlet-name>
        <servlet-class>controller.ServletHistoricoConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletResultadoExame</servlet-name>
        <servlet-class>controller.ServletResultadoExame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUserArea</servlet-name>
        <servlet-class>controller.ServletUserArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSair</servlet-name>
        <servlet-class>controller.ServletSair</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAutentica</servlet-name>
        <url-pattern>/servletautentica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPesquisa</servlet-name>
        <url-pattern>/servletpesquisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscaEspecialidade</servlet-name>
        <url-pattern>/servletbuscaespecialidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNovoUsuario</servlet-name>
        <url-pattern>/novousuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEfetivaCadastro</servlet-name>
        <url-pattern>/efetivacadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPesquisaRetorno</servlet-name>
        <url-pattern>/pesquisaretorno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>/ServletPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarcarConsulta</servlet-name>
        <url-pattern>/marcarconsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarcarConsultaS2</servlet-name>
        <url-pattern>/marcarconsultas2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarcarConsultaS3</servlet-name>
        <url-pattern>/marcarconsultas3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarcarConsultaS4</servlet-name>
        <url-pattern>/marcarconsultas4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGerenciarAgenda</servlet-name>
        <url-pattern>/gerenciaragenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCancelaConsulta</servlet-name>
        <url-pattern>/cancelaconsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHistoricoConsulta</servlet-name>
        <url-pattern>/historicoconsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletResultadoExame</servlet-name>
        <url-pattern>/resultadoexame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUserArea</servlet-name>
        <url-pattern>/userarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSair</servlet-name>
        <url-pattern>/sair</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
